ARK_API_KEY=your-volcengine-ark-api-key
ARK_IMAGE_ENDPOINT=https://ark.cn-beijing.volces.com/api/v3/images/generations
ARK_IMAGE_MODEL=doubao-seedream-4-5-251128
ARK_IMAGE_SIZE=2K
ARK_IMAGE_WATERMARK=false
